* {
    box-sizing: border-box;
}

#title {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    /* color: white; */
}

#display_mines_number {
    font-size: 20px;
    /* color: white; */
}

body {
    text-align: center;
    /* background-color: black; */
}

#board { 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
}

.grid {
    background-image: url("/image/grid.png");
    background-color: rgb(187, 187, 187);
    border: 2px solid;
    height: 50px;
    width: 50px;
    font-size: 40px;
}

.button {
    visibility: visible;
}

.reset-button {
    visibility: hidden;
}

/* #instruction {

} */


@media screen and (max-width: 400px) {
    .grid {
        background-size: 27px;
        height: 30px;
        width: 30px;
        font-size: 20px;
    }
}