* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    /* background-color: black; */
}

#title {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    /* color: white; */
}

#display_mines_number, #choose-level {
    font-size: 20px;
    visibility: hidden;
    /* color: white; */
}

#choose-level, .level-button {
    visibility: visible;
}

.reset-button {
    visibility: hidden;
}

#board { 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
}

.grid {
    background-image: url("../image/grid.png");
    background-color: rgb(116, 116, 116);
    border: 2px solid black;
    height: 50px;
    width: 50px;
    font-size: 40px;
    color: white;
}

p {
    font-size: 15px;
}

@media screen and (max-width: 500px) {
    .grid {
        background-size: 11px;
        height: 15px;
        width: 15px;
        font-size: 9px;
    }

    #title {
        font-size: 23px;
    }
    
    #display_mines_number, #choose-level {
        font-size: 12px;
    }

    p {
        font-size: 11px;
    }
}